<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">

      <div class="p-4">
        <h2>Profile</h2>
        <hr>
        <div class="text-secondary">
          <div class="mb-2">
            <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          </div>
          <h3><span><i class="fa-solid fa-user"></i> : <%= @user.name %></span></h3>
          <h3><span><i class="fa-solid fa-envelope"></i> : <%= @user.email %></span></h3>
        </div>
        <hr>
        <%= link_to "Edit", edit_user_path(@user.id), class:"btn btn-success" %>
      </div>

    </div>
  </div>
</div>